*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/inspectionProfiles/Project_Default.xml
/.idea/deploymentTargetDropDown.xml
.kotlin
# Browser development tools and screenshots
/web/node_modules/
/web/test/artifacts/

/web/dist/
